@import url("https://fonts.googleapis.com/css?family=Urbanist");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Urbanist", sans-serif;
}

@layer components {
  .register-input {
    @apply py-3 pl-4 rounded-full border border-gray-400 bg-transparent mt-5;
  }
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  -webkit-appearance: none;

}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

  .label {
    @apply mt-3 mb-1 pl-2;
  }

  .input-text-error {
    @apply my-2 pl-2 text-red-600;
  }

  .form-step-title {
    @apply mb-1 text-center;
  }
}
