.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(200px), translateX(0px);
  transition: all 100ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px), translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(200px), translateX(0px);
}

.bg-dot {
  background-image: radial-gradient(
    rgba(24, 24, 31, 0.51) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  background-color: rgba(71, 212, 255, 0);
}
